.logo{
  max-width: 90%;
}
.main{
    min-height: 300px;
    text-align: center;
}
.menu,
.menu li{
  list-style: none;
  padding:0;
  margin:0;
}

  .menu li .nav-link, .right-nav-bar{
    color: rgba(0, 0, 0, 0.5);
  }
    .menu li .nav-link.active, .right-nav-bar:active,
    .menu li .nav-link:hover, .right-nav-bar:hover {
      color: rgba(0, 0, 0, 1);
    }
  .menu .navbar-text {
    margin-right: 10px;
  }


.text-danger{
  font-size: 12px;
  margin-top: -4px;
}

.lastItem{
 background-color: yellow;
}

.vaciar-pedidos{
  float: right;
}

.acomodo-linea{
  margin-bottom: 0px;
}