.product-grid{
    margin:35px 0;
}
.item-list{
    padding: 20px 40px;
}

.item-list img{
    max-width:100%;
    text-align: center;
}
.item-list h3{
    font-size: 16px;
    color: #333;
    display: block;
    margin:5px 0 15px 0;
}
.item-list .price-item{
    font-size: 20px;
}
.item-list a:hover{
    text-decoration: none;
}

.item-count{
    border-radius: 4px;
    padding: 0 4px;
    width:50%;
    margin:15px auto;
}

.img-list-container{
    height:200px;
    text-align:center
}
.img-list-container img{
    text-align:center;
    width: 90%;
    height: 90%;    
    object-fit: contain;    
}  

.stock{
    font-size:15px;
    color:#999;
    margin-bottom:-5px;
}
.separador{
    height:40px;
}

.detail-content h1{
    font-size: 24px;
    font-weight: 600;
    color:#333;
}
.detail-content .price-item{
    font-size: 33px;
    font-weight: 300;
}
.detail-content .stock{
    font-size:15px;
    color:#999;
    margin-bottom:-5px;
}
.photo-detail img{
    max-width:100%;
    max-height: 320px;
    text-align: center;
}

.input-count{
    border:0px;    
    outline: none;
    text-align:center;
}
.btn-less1 {
    color: #999;
    cursor: unset!important;
}
.btn-more-max {
    color: #999;
    cursor: unset!important;
}

.title-category{
    font-size: 28px;
    text-transform: capitalize;
    color: #333;
    display:block;
    text-align: center;
}